#apresentacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: 0 auto;
}

.conteudo {
    animation: go-back 2s;
}

.svg {
    animation: go-back-inv 2s;
}

.conteudo h2 {
    font-size: 4em;
    color: azure;
}

.conteudo p {
    font-size: 2em;
    color: #fff;
}

.botao {
    background-color: #009929;
    border: none;
    border-radius: 11px;
    width: 200px;
    color: black;
    height: 30px;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 9px;
    border-color: black;
    box-shadow: 0 0 40px 40px #04ff00 inset, 0 0 0 0 #04ff00;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.botao:hover {
  box-shadow: 0 0 10px 0 #04ff00 inset, 0 0 10px 4px #04ff00;
  background-color: black;
  color: white;
  cursor: pointer;
}

@keyframes go-back {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes go-back-inv {
    0% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(0);
    }
}

@media (min-width: 300px) and (max-width: 800px) {
    #apresentacao {
        flex-direction: column;
        width: 590px;
        text-align: center;
        border: none;
        margin-top: 200px;
        margin-bottom: 200px;
        margin-left: 20px;
    }

    .botao {
        margin-bottom: 35px;
    }

    .svg img {
        display: none;
    }
}

@media (min-width: 801px) and (max-width: 1100px) {
    .svg img {
        width: 450px;
    }

    #apresentacao {
        margin-top: 200px;
        margin-bottom: 300px;
    }

    .conteudo h2 {
        font-size: 45px;
    }

    .conteudo p {
        font-size: 30px;
    }
}

@media (min-width: 1101px) and (max-width: 1299px) {
    .porra {
        width: 500px;
    }
}

@media (min-width: 1300px) and (max-width: 1369px) {
    #apresentacao {
        height: 530px;
    }

    .svg img {
        width: 650px;
    }
}

@media (min-width: 1370px) {
    #apresentacao {
        height: 780px;
        margin-top: 45px;
    }

    .svg img {
        width: 720px;
    }

    .conteudo h2 {
        font-size: 80px;
    }

    .conteudo p {
        font-size: 50px;
    }

    .botao {
        width: 230px;
        height: 40px;
        font-size: 15px;
    }
}