#apresentacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid white;
    padding: 40px;
    width: 80%;
    margin: 90px auto;
}

.conteudo h2 {
    font-size: 4em;
    color: azure;
}

.conteudo p {
    font-size: 2em;
    color: #08C6AB;
}

.botao {
    background-color: #5AFFE7;
    border: none;
    border-radius: 11px;
    width: 200px;
    color: #37465B;
    height: 30px;
    margin-top: 20px;
    font-weight: bold;
}

.botao:hover {
    background-color: #08C6AB;
    cursor: pointer;
}

@media (min-width: 300px) and (max-width: 800px) {
    #apresentacao {
        flex-direction: column;
        width: 590px;
        text-align: center;
        border: none;
    }

    .botao {
        margin-bottom: 35px;
    }
}

@media (min-width: 801px) and (max-width: 1100px) {
    .svg img {
        width: 400px;
    }
}

@media (min-width: 1300px) {
    #apresentacao {
        height: 600px;
    }

    .svg img {
        width: 650px;
    }
}