#rodape {
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1a222d;
    color: azure;
    text-align: center;
}

#rodape a {
    text-decoration: none;
    color: #08C6AB;
}

@media (min-width: 300px) and (max-width: 590px) {
    #rodape {
        width: 680px;
    }
}

@media (min-width: 591px) and (max-width: 680px) {
    #rodape {
        width: 690px;
    }
}