.titulo {
    margin-top: 200px;
    font-size: 1.4em;
    margin-bottom: 35px;
    color: #726EFF;
}

#container-projetos {
    width: 80%;
    margin: 0 auto;
}

#projetos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.projeto {
    width: 300px;
    height: 400px;
    padding: 5px;
    background-color: #37465B;
}

.margin-parag {
    margin-top: 5px;
    color: azure;
    text-align: justify;
    padding: 10px;
}

.div-botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botoes-projeto {
    width: 100px;
    height: 30px;
    border: none;
    background-color: #5AFFE7;
    color: #212B38;
    font-weight: bold;
    margin-top: 30px;
}

.botoes-projeto:hover {
    cursor: pointer;
    background-color: #08C6AB;
}

@media (min-width: 300px) and (max-width: 800px) {
    #projetos {
        flex-direction: column;
        width: 600px;
    }

    .titulo {
        width: 600px;
        text-align: center;
    }

    .projeto {
        margin-bottom: 30px;
        width: 400px;
        height: 500px;
    }

    .img-valente img {
        height: 260px;
    }
}

@media (min-width: 801px) and (max-width: 910px) {
    #projetos {
        width: 670px;
        flex-direction: column;
        margin-bottom: 300px;
    }

    .titulo {
        text-align: center;
        width: 670px;
    }

    .projeto {
        margin-bottom: 35px;
        width: 500px;
        height: 600px;
    }

    .img-valente img {
        height: 360px;
    }
}

@media (min-width: 911px) and (max-width: 1000px) {
    #projetos {
        width: 670px;
        flex-direction: column;
        margin-bottom: 300px;
        margin-left: 50px;
    }

    .titulo {
        text-align: center;
        width: 670px;
        margin-left: 50px;
    }

    .projeto {
        margin-bottom: 35px;
        width: 500px;
        height: 600px;
    }

    .img-valente img {
        height: 360px;
    }
}

@media (min-width: 1001px) and (max-width: 1170px) {
    #projetos {
        width: 670px;
        flex-direction: column;
        margin-bottom: 300px;
        margin-left: 70px;
    }

    .titulo {
        text-align: center;
        width: 670px;
        margin-left: 70px;
    }

    .projeto {
        margin-bottom: 35px;
        width: 500px;
        height: 600px;
    }

    .img-valente img {
        height: 360px;
    }
}
