#sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 150px;
    margin-top: 100px;
}

.conteudo-sobre {
    margin: 0 auto;
}

.title-neon {
    font-size: 3em;
    color: #04ff00;
    margin-bottom: 15px;
    text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px black, 0 0 40px #5bff58, 0 0 70px #5bff58, 0 0 80px #5bff58, 0 0 100px #5bff58, 0 0 150px #5bff58;
}

.paragrafo {
    font-size: 1.4em;
    text-align: justify;
    color: #fff;
    font-weight: bold;
    line-height: 35px;
}

.tec-bottom {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.ajustar {
    margin-top: 10px;
}

.cor2 {
    color: #5AFFE7;
}

.ajustar-cima {
    margin-top: 10px;
}

@media (min-width: 300px) and (max-width: 600px) {
    #sobre {
        flex-direction: column;
        width: 600px;
        margin-left: 30px;
    }

    .conteudo-sobre {
        width: 100%;
        margin-bottom: 100px;
    }

    #tecnologias {
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 601px) and (max-width: 705px) {
    #sobre {
        flex-direction: column;
        width: 600px;
        margin-left: 50px;
    }

    .conteudo-sobre {
        width: 100%;
        margin-bottom: 100px;
    }

    #tecnologias {
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 706px) and (max-width: 900px) {
    #sobre {
        flex-direction: column;
    }

    .conteudo-sobre {
        width: 100%;
        margin-bottom: 100px;
    }

    #tecnologias {
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 1300px) {
    #sobre {
        height: 600px;
    }
}

@media (min-width: 1370px) {
    #sobre {
        margin-bottom: 310px;
    }
}