#contato {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.socials {
    text-align: center;
    color: azure;
    margin-right: 70px;
    height: 300px;
    width: 400px;

}

.socials h1 {
    font-size: 4em;
    color: #04ff00;
}

.icones-sociais {
    margin-top: 10px;
}

.margin-top {
    margin-top: 20px;
}

@media (min-width: 300px) and (max-width: 600px) {
    #contato {
        flex-direction: column;
    }

    .socials {
        border: 2px solid azure;
        width: 650px;
        margin-left: 12px;
    }

    .img-contato {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 720px) {
    #contato {
        flex-direction: column;
    }

    .socials {
        border: 2px solid azure;
        border-radius: 8px;
        width: 660px;
        margin-left: 20px;
    }

    .img-contato {
        display: none;
    }
}

@media (min-width: 721px) and (max-width: 740px) {
    #contato {
        flex-direction: column;
    }

    .socials {
        border: 2px solid azure;
        border-radius: 8px;
        width: 690px;
        margin-left: 12px;
    }

    .img-contato {
        display: none;
    }
}

@media (min-width: 741px) and (max-width: 800px) {
    #contato {
        flex-direction: column;
    }

    .socials {
        border: 2px solid azure;
        border-radius: 8px;
        width: 715px;
        margin-left: 20px;
    }

    .img-contato {
        display: none;
    }
}